<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hhuc.mapper.TravelVolumeMapper">
   <select id="getTravelTimeVolumes" resultType="cn.hhuc.bean.TravelTimeVolume">
       select date_format(startTime,'%Y-%m-%d %H') as time,count(*) as data from travelmodelv1 group by time;
   </select>

    <select id="getTravelTimeVolumeByTime" parameterType="java.lang.String" resultType="cn.hhuc.bean.TravelTimeVolume">
       select date_format(startTime,"%Y-%m-%d %H") as `time`,count(*) as data from travelmodelv1 where `time`==#{time};
   </select>

    <select id="getTravelAreaVolumes" resultType="cn.hhuc.bean.TravelAreaVolume">
       select startArea as area,count(*) as data from travelmodelv1 group by area;
   </select>

    <select id="getTravelAreaVolumeByTime" parameterType="java.lang.String" resultType="cn.hhuc.bean.TravelAreaVolume">
       select startArea as area,count(*) as data from travelmodelv1 where area=#{area};
   </select>

</mapper>
